*.iml
.gradle
.idea
.DS_Store
build/
.externalNativeBuild
.cxx
local.properties
venv/
yarn.lock
backup/androidApp/release
.kotlin
**/build/
xcuserdata
!src/**/build/
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
gradle.xml

# Store the old files in a temporary folder until refactor is complete
backup/