name: Build binaries

on: workflow_call

jobs:
  android-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Build
        run:
          ./gradlew :composeApp:assembleDebug

      - name: Upload APK
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: |
            **/build/**/apk/**/*.apk

  link-apk:
    runs-on: ubuntu-latest
    needs: android-build # make sure the artifacts are uploaded first

    permissions:
      contents: write # for commenting on your commit
      pull-requests: write # for commenting on your pr

    steps:
      - uses: beni69/artifact-link@v1
        with:
          token: ${{ github.token }}
