name: Code review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:
    types: [ opened, reopened, labeled, unlabeled, ready_for_review, synchronize ]

jobs:
  SetUp:
    runs-on: ubuntu-latest
    steps:
      - id: setVariables
        name: Set variables
        run: |
          {
            iosOnly=${{ contains(github.event.pull_request.labels.*.name, 'iOS') }}
            androidOnly=${{ contains(github.event.pull_request.labels.*.name, 'Android') }}
          } >> $GITHUB_OUTPUT
          
          {
            echo "### Workflow variables"
            echo "| Variable     | Value        |"
            echo "| ------------ | ------------ |"
            echo "| iosOnly      | $iosOnly     |"
            echo "| androidOnly  | $androidOnly |"
          } >> $GITHUB_STEP_SUMMARY
          
          if [ ${{ github.event_name }} == workflow_dispatch ] || [ ${{ github.event_name }} == push ] || ([ ${{ github.event_name }} == pull_request ] && [ ${{ github.event.pull_request.draft }} == false ]); then
            exit 0
          else
            exit 1
          fi
        outputs:
          androidOnly: ${{ steps.setVariables.outputs.androidOnly }}
          iosOnly: ${{ steps.setVariables.outputs.iosOnly }}

  Detekt:
    needs: Setup
    uses: ./.github/workflows/lint.yml

  UnitTests:
    needs: Detekt
    uses: ./.github/workflows/test.yml
    with:
      androidOnly: ${{ steps.setVariables.outputs.androidOnly }}
      iosOnly: ${{ steps.setVariables.outputs.iosOnly }}

  Build:
    needs: Detekt
    uses: ./.github/workflows/build.yml
    with:
      iosOnly: ${{ steps.setVariables.outputs.iosOnly }}

  AllowMerge:
    if: always()
    runs-on: ubuntu-latest
    needs: [ UnitTests, Detekt ]
    steps:
      - run: |
          if [ ${{ github.event_name }} == pull_request ] && [ ${{ join(github.event.pull_request.labels.*.name) == '' }} == true ]; then
            exit 1
          elif [ ${{ (contains(needs.Detekt.result, 'failure')) }} == true ]; then
            exit 1
          elif [ ${{ (contains(needs.UnitTests.result, 'failure')) }} == true ]; then
            exit 1
          elif [ ${{ (contains(needs.Build.result, 'failure')) }} == true ]; then
            exit 1
          else
            exit 0
          fi
