name: Code review

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:
    types: [ opened, reopened, ready_for_review, synchronize ]

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    needs: lint
    uses: ./.github/workflows/test.yml

  build:
    needs: lint
    uses: ./.github/workflows/build.yml

  summary:
    if: always()
    runs-on: ubuntu-latest
    needs: [ lint, test ]
    steps:
      - run: |
          if [ ${{ (contains(needs.lint.result, 'failure')) }} == true ]; then
            exit 1
          elif [ ${{ (contains(needs.test.result, 'failure')) }} == true ]; then
            exit 1
          elif [ ${{ (contains(needs.build.result, 'failure')) }} == true ]; then
            exit 1
          else
            exit 0
          fi
