name: Tests

on:
  workflow_dispatch:

jobs:
  android-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Build and run tests
        run: ./gradlew :composeApp:cleanTestDebugUnitTest :composeApp:testDebugUnitTest

      - name: Upload reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-reports
          path: |
            **/build/reports/*

  ios-tests:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - name: Job set up
        uses: ./.github/actions/job-set-up

      - name: Build and run tests
        run: ./gradlew :composeApp:cleanIosSimulatorArm64Test :composeApp:iosSimulatorArm64Test

      - name: Upload reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ios-reports
          path: |
            **/build/reports/*
